<div class="back-drop login"></div>
<div class="back-drop shadow"></div>
<article class="text-center">
  <div class="row">
    <div class="col-md-12">
      <form class="form-login" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <img class="mb-2" src="assets/img/movie-logo.png" alt="MovieChat logo">
        <h1 class="h4 mb-4 font-weight-light pt-4">Sign In</h1>
        <div class="inner-addon left-addon form-group">
          <label for="inputUsername" class="sr-only">Username</label>
          <i class="fa fa-user"></i>
          <input type="text" name="username" id="inputUsername" class="form-control" ngModel placeholder="Username"
            required autofocus>
        </div>
        <div class="inner-addon left-addon form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <i class="fa fa-lock"></i>
          <input type="password" name="password" id="inputPassword" class="form-control" ngModel placeholder="Password"
            required>
        </div>
        <div class="form-group" style="display:none;">
          <input type="text" type="text" name="grant_type" [ngModel]="grant_type" class="form-control" hidden required>
        </div>
        <button class="btn btn-lg btn-primary btn-block text-uppercase mt-5" type="submit">Sign in</button>
        <div class="small mt-1">
          <div class="small">
            <div class="small">Header</div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-muted">&copy; 2019</p>
      </form>
    </div>
    <ul class="col-md-12 mb-0 list-inline">
      <li class="list-inline-item">
        <a [routerLink]="['/main/1']" class="list-href text-muted">Link to App</a>
      </li>
      <li class="list-inline-item">
        <a [routerLink]="['/login']" class="list-href text-muted">Login</a>
      </li>
    </ul>
  </div>
</article>
